<h1>Debt Calculater</h1>
<hr>
<p1>This is a calculator that helps you determine your monthly payments or the max amount of principle you can have </p1>
<hr>
<p1>Please enter the information below and only leave one blank empty (either the monthly payments or principle)</p1>
<br>
<br>
<%= render 'form', calculate_debt: @calculate_debt %>
