<h1>Debt Quote</h1>
<hr>
<p1>This is a calculator that helps you determine your monthly payments or the max amount of principle you can have </p1>
<hr>
<p1><b>Please enter the information below and only leave one with $0 (either the monthly payments or principle)</b></p1>
<br>
<br>
<%= render 'form', calculate_debt: @calculate_debt %>