<h1>Debt Quote</h1>
<hr>
<p1>This is a calculator that helps determine Monthly debt payments or the max amount of principle you can have. </p1>
<hr>
<br>
<br>
<%= render 'form', calculate_debt: @calculate_debt %>