<tbody>  
        <% group.categories.each do |category| %>  
          <tr style="background-color: #E7E5E5">  
            <td><%= category.name %></td>
            <td><%= category.projected %></td>
            <td><%= category.actual %></td>
          </tr>
        <% end %>
      </tbody>