<h1>Welcome to BudgetBuddy!</h1>
<br>
<hr>


<div class="col-sm-6 text-right">
<%= link_to new_calculate_debt_path, class: 'btn btn-primary' do %>
  Debt Calculator
<% end %>

<%= link_to calculate_debts_path	, class: 'btn btn-primary' do %>
  Debt Quotes
<% end %>

<%= link_to new_retirement_path, class: 'btn btn-primary' do %>
  Calculate New Retirement Quote
<% end %>
</div>
