<%= stylesheet_link_tag "hideme"%>
<button onclick="myFunction()" class=" btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4" style="vertical-align:middle"><span><i class="fas fa-list-ul"></i><small class="text-uppercase font-weight-bold"> Nav-bar Toggle</small></span></button>

<h1>New Retirement Quote</h1>

<%= render 'form', retirement: @retirement %>
