<div class="page-header">
  <%= link_to retirements_path, class: 'btn btn-default' do %>
    All Retirements
  <% end %>
  <%= link_to edit_retirement_path(@retirement), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show retirement</h1>
</div>

<dl class="dl-horizontal">
</dl>
