
<%= stylesheet_link_tag "hideme"%>
<!--- Button to toggle navbar -->
<button onclick="myFunction()" class=" btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4" style="vertical-align:middle"><span><i class="fas fa-list-ul"></i><small class="text-uppercase font-weight-bold"> Nav-bar Toggle</small></span></button>

<!--- Render forms  -->
<h1>Update Goal '<%= @goal.title %>'</h1>

<%= render 'form', goal: @goal %>
