<%= stylesheet_link_tag "hideme"%>

<!--- Button to hide left navbar -->
<button onclick="myFunction()" class=" btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4" style="vertical-align:middle"><span><i class="fas fa-list-ul"></i><small class="text-uppercase font-weight-bold"> Nav-bar Toggle</small></span></button>

<h1>New goal</h1>

<%= render 'form', goal: @goal %>
