// Place all the styles related to the budgets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.columna {
    float: left;
    width: 66.66%;
    padding: 5px;
}

.columnb {
    float: right;
    width: 33.33%;
    padding: 5px;
}

.row.after {
    content: "";
    clear: both;
    display: table;
}
